apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: app
          image: jbazann/orders:latest
          ports:
            - name: app
              containerPort: 12012
            - name: probe
              containerPort: 12112
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 12112
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 15
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 12112
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 15
          securityContext:
            privileged: false