<?xml version="1.0" encoding="UTF-8"?>


<!-- This is NOT an actual persistence.xml file -->
<!-- Mapping persistence units in this format allows the hibernate-jpa-schemagen plugin -->
<!-- to generate individual files for each of them. -->
<!-- This file is only used by this plugin, and is not intended for JPA use. -->
<persistence version="3.0" xmlns="https://jakarta.ee/xml/ns/persistence">
    <persistence-unit name="customer">
        <class>dev.jbazann.skwidl.customers.customer.Customer</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="site">
        <class>dev.jbazann.skwidl.customers.site.Site</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="user">
        <class>dev.jbazann.skwidl.customers.user.User</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
        </properties>
    </persistence-unit>
</persistence>