jbazann:
  routes:
    gateway:
      root: http://gateway:@jbazann.kube.main-port@
      products: http://gateway:@jbazann.kube.main-port@/products
      customers: http://gateway:@jbazann.kube.main-port@/customers
    products:
      v1:
        collection:
          path: /v1/products
          params:
            operation:
              param: 'operation'
              availability: 'availability'
              reserve: 'reserve'
        identified:
          path: /v1/products/{id}
        discount:
          path: /v1/products/{id}/discount
    customers:
      v1:
        collection:
          path: /v1/customers
        identified:
          path: /v1/customers/{id}
        wallet:
          path: /v1/customers/{id}/wallet
          params:
            operation:
              param: 'operation'
              bill: 'bill'
              credit: 'credit'